* {
    padding : 0;
    margin : 1;
    box-sizing: border-box;
    background-color: lightgoldenrodyellow ;
  }

h1 {
    text-align: center;
    color : pink ;
}

h2 {
    text-align: center;
    color : pink ;
}

h3 {
    color : pink ;
}

.Sommaire {
border : 5px solid pink ;
}

.Nav {
    text-align: center;
    font-size: 2rem;
    border : 5px solid pink ;
}